<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net461" />
  <package id="Dapper-NodaTime" version="0.1.0" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Core" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Domain" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Monitoring" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Persistence.Dapper" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Persistence.Security" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Primitives" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Primitives.Dapper" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Testing" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Testing.Dapper" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Common.Testing.Primitives" version="1.1.876" targetFramework="net461" />
  <package id="Fdb.Rx.Platform.Patients" version="1.0.1688" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NodaTime" version="2.4.7" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
</packages>